.forgot-password-container {
    height: 60vh;
    background-image: url("../../../assets/quickbuyshop.png");
    background-size: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content-forgot-password {
    margin: 80px auto 0 auto;
    max-width: 100%;
    /* background-color: #fb8016; */
}

.forgot-password-box {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 300px;
}