.quickbuy-top {
    background: linear-gradient(135deg, #c2a74b, #cf5f3d);
    transition: transform .2s cubic-bezier(.4, 0, .2, 1);
}

.quickbuy-top--sticky {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateZ(0);
    z-index: 100;
}

.navbar-wrapper {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background: red;
}